<% provide(:glossary, "active") %>
<div id="wrapper">
	<%= render 'shared/admin_header'%>


	 <div id="page-wrapper" style="padding-top: 6%;">
        <div class="container-fluid">
        	<div class="row">
        		<div class="col-md-12">

        			<h4><i class="fa fa-th-large" style="color: #2EC866;"></i> Бүртгэлтэй тайлбарууд</h4>

        			<% if not flash[:success].blank? %>
		               <div class="alert alert-success alert-dismissable">
			            <a class="panel-close close" data-dismiss="alert">×</a> 
			            <i class="fa fa-check-circle"></i>
			            <strong><%= flash[:success] %></strong>
		              </div>
                      <% flash[:success]=nil %>
		            <% end %>

		            <div class="table-responsive">
        				<table id="mytable" class="table table-hover table-bordred table-striped" data-height="20">
        					<thead>
        						<th>Нэр</th>
        						<th>Онол</th>
        						<th>Синтакс</th>
        						<th>Оруулсан</th>
        						<th>Засах</th>
        						<th>Устгах</th>
        					</thead>
        					<tbody id="myTable">
        						<% @glossary.each do |g| %>
        							<tr>
        								<td><%= g.name %></td>
        								<td><%= g.description %></td>
        								<td><%= g.syntax %></td>
        								<td>
        									<img src="<%= Organizer.find(g.organizer_id).attachment %>" class="text-center" alt="Зураг оруулаагүй" width="37" height="37" id="orgnizer_img" />
        								</td>
        								<td><%= link_to "засах", glossaryupdate_path(g), :class=>"btn btn-warning btn-sm" %></td>
        								<td><%= link_to "устгах", g, method: :delete, data: {confirm: "Та итгэлтэй байна уу?"}, :class=>"btn btn-danger btn-sm" %></td>
        							</tr>
        						<% end %>
        					</tbody>

        				</table>

                        <div class="clearfix"></div>
                        <ul class="pagination pagination-md pager pull-right" id="myPager"></ul>
        			</div>
        		</div>
        	</div>
        </div>
    </div>
</div>

<%= render 'shared/tablepagination'%>