<% provide(:signin, "active") %>

<%= render 'shared/header' %>

<div class="box" id="box">
	<div class="content registerBox">
       <div class="form">
       <h1 class="text-center">Нэвтрэх</h1>
    		<%= form_for @student, url: {:controller => "students", :action => "create_sign" } do |f| %>
          <% if defined? @student_error %><p class="error"><%= @student_error.to_s + "" %></p><% end %>
          <%= f.text_field :username, :class=>"form-control", :placeholder=>"Хэрэглэгчийн нэр" %>
    		  <%= f.password_field :password, :class=>"form-control", :placeholder=>"Нууц үг" %>
    		  <%= f.submit :class=>"btn btn-default btn-register", :value=>"Нэвтрэх" %>
          
    		<% end %>
    </div>
  </div>
  <div class="division">
      <div class="line l"></div>
        <span>Сошиал сүлжээ</span>
      <div class="line r"></div>
  </div>
  <div class="social">
      <a class="circle github" href="/auth/github">
          <span class="fa fa-github fa-fw"></span>
      </a>
      <a id="google_login" class="circle google" href="/auth/google_oauth2">
          <span class="fa fa-google-plus fa-fw"></span>
      </a>
      <a id="facebook_login" class="circle facebook" href="/auth/facebook">
          <span class="fa fa-facebook fa-fw"></span>
      </a>
  </div>
</div>

<%= render "/shared/footer"%>